includes:
  - ./vendor/larastan/larastan/extension.neon
parameters:
  parallel:
    maximumNumberOfProcesses: 8
  phpVersion: 80400
  paths:
    - app
    - bootstrap
    - config
    - standards
  level: 6
  excludePaths:
    - standards/Devanox/Sniffs/PHP/UseConfigOverEnvSniff.php
  ignoreErrors:
  - '#Unable to resolve the template type TKey in call to function collect#'
  - '#Unable to resolve the template type TValue in call to function collect#'
